:root {
    --font-size: 18px;
    --font-outfit: 'Outfit', sans-serif;
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --bg-main: hsl(217, 54%, 11%);
    --bg-card: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: var(--font-size);
    font-family: var(--font-outfit);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-main);
}

.card {
    width: 90%;
    padding: 1.3rem;
    background-color: var(--bg-card);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.img-hero {
    width: 100%;
    height: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.title h1 {
    font-size: 1.2rem;
    color: var(--white);
    margin-bottom: 0;
}

    .title h1:hover, .author-name:hover {
        color: var(--cyan);
        cursor: pointer;
    }

.description p {
    font-size: .9rem;
    font-weight: 100;
    color: var(--soft-blue);
}

.value {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.price, .time {
    display: flex;
    align-items: center;
}

.price span {
    font-size: .8rem;
    margin-left: .4rem;
    color: var(--cyan);
}

.time span {
    font-size: .8rem;
    margin-left: .4rem;
    color: var(--soft-blue);
}

.line {
    border: none;
    height: 1px;
    background-color: var(--line);
}

.author {
    display: flex;
    align-items: center;
}

.author-avatar {
    width: 30px;
    height: auto;
    border: 1px solid white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.author-text {
    font-size: .85rem;
    margin-left: .8rem;
    color: var(--soft-blue);
}

.author-name {
    color: var(--white);
}

@media (min-width: 576px) {
    .card {
        width: 55%;
    }
}

@media (min-width: 768px) {
    .card {
        width: 40%;
    }
}

@media (min-width: 992px) {
    .card {
        width: 30%;
    }
}

@media (min-width: 1200px) {
    .card {
        width: 25%;
    }
}

@media (min-width: 1400px) {
    .card {
        width: 18%;
    }
}
